-r requirements.txt

# test
pytest==9.1.1
pytest-django==4.12.0
pytest-cov==7.1.0
pytest-xdist>=3.8.0
pytest-env==1.6.0


factory-boy==3.3.3
Faker==40.36.0
freezegun>=1.5.1
responses>=0.26.2,<1.0
requests-mock>=1.12.1

# lint/format
black>=26.5.1,<27
ruff==0.16.0

# type-check（任意）
mypy>=2.2.0
django-stubs[compatible-mypy]
types-requests
types-psycopg2
pyyaml>=6.0.3
