Django==5.2.13
djangorestframework==3.17.1
django-filter==25.2
django-cors-headers==4.9.0
django-redis>=7.0.0
django-storages>=1.14.6
boto3>=1.43.39

dj-database-url==3.1.2
django-environ==0.14.0
gunicorn==25.1.0
whitenoise==6.12.0
psycopg[binary]==3.3.4
Pillow==12.3.0
python-dotenv>=1.2.2,<2
djangorestframework_simplejwt==5.5.1
stripe>=15.3.0,<16.0.0

requests>=2.34.2
httpx>=0.28.1,<0.29.0
openai==2.44.*

pyyaml>=6.0.3
drf-spectacular==0.29.0

mypy
django-stubs
